*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji",sans-serif;;
}


.index-main-container{
    padding-left: 3rem;
    padding-right: 3rem;
}


.index-main-col{
    padding-right: 24px;
    padding-left: 24px;
}

.my-border-btm{
    height: 1px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: #dee2e6;
    opacity: 1;
    color: inherit;
    border: 0;
}


#index-header{
    background-image: url(../images/home-bg.jpg);
    /* height: 50vh; */
    object-fit: cover;
    background-color: #6c757d;
    /* background: no-repeat center center; */
    padding-top: 12.5rem;
    padding-bottom: 12.5rem;
    margin-bottom: 3rem;
    background-size: cover;
    background-attachment: scroll;
    position: relative;
}


#index-header::before{
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #212529;
    opacity: 0.5;
    position: absolute;
    }


.index-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.index-header .site-header-title h1{
    font-size: 5rem;
    color: white;
    font-weight: 900;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.5rem;
    text-align: center;
    margin: 0;
}


.index-header .site-header-title{
    z-index: 1;

}


.index-header .site-header-desc{
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.1;
    margin-top: 0.625rem;
    text-align: center;
    color: white;
    z-index: 1;
}


.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    color: white;

}


.navbar .logo{
    font-size: 1.25rem;
    font-weight: 800;
    cursor: pointer;
}


.navbar .logo:hover{
    color: rgba(255, 255, 255, 0.8);

}


.navbar .container{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}




.navbar .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

.navbar .menu .nav-item{
    list-style: none;
    font-size: 0.75rem;
    font-weight: 800;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    cursor: pointer;
    padding: 24px 16px;
    
    /* margin-right: 0.5rem; */
}


.navbar .menu .nav-item a{
    text-decoration: none;
    color: white;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.navbar .menu .nav-item a:hover{
    color: rgba(255, 255, 255, 0.8);
}



.container .row{
    justify-content: center;
}


/* .main-content .post{
    border-bottom: 1px solid rgb(228, 227, 227);
} */


.main-content .post a h3{
    margin: 0;
}

.main-content .post a h2{
    margin: 0;
}

.main-content .post a{
    text-decoration: none;
    color: black;
}

.main-content .post .post-title{
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 1.2;
    margin-top: 1.875rem;
    margin-bottom: 0.625rem;
}


.main-content .post .post-subtitle{
    font-weight: 300;
    font-size: 1.75rem;
    line-height: 1.2;
    margin-bottom: 0.625rem;
}


.main-content .post a:hover{
    text-decoration: none;
    color: #0085A1;
}


.main-content .post p{
    margin: 2rem 0;
}

.main-content .post .post-meta{
    font-size: 1.125rem;
    font-style: italic;
    font-weight: 300;
    margin-top: 0;
    color: #6c757d;
}


.index-btn{
    display: flex;
    justify-content: end;
    margin-bottom: 1.5rem;
}

.index-btn a{
    text-decoration: none;
    font-weight: 800;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    padding: 1rem 1.75rem;
    border: 1px solid transparent;
    font-size: 0.875rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    color: white;
    background-color: #0085A1;
    border-color: #0085A1;
}


.main-content .index-btn a:hover{
    color: white;
    background-color: #007189;
    border-color: #007189;
}


footer{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.footer-border-top{
    border: 1px solid #dee2e6;
}


.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons li{
    list-style: none;
    height: 50px;
    width: 50px;
    margin-right: 2rem;
    font-size: large;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    cursor: pointer;
}


.social-icons li:hover{
    /* list-style: none;
    height: 50px;
    width: 50px;
    margin-right: 2.5rem;
    font-size: large;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; */
    background-color: #0085A1;
}

.social-icons li a i{
    text-align: center;
    color:white;
    /* background-color: black; */
    font-size: 28px;
}

.copyright-text{
    text-align: center;
    color: #6c757d;
    font-style: italic;
    font-size: 18px;
}



#about-header{
    background-image: url(../images/about-bg.jpg);
    /* height: 50vh; */
    object-fit: cover;
    background-color: #6c757d;
    /* background: no-repeat center center; */
    padding-top: 12.5rem;
    padding-bottom: 12.5rem;
    margin-bottom: 3rem;
    background-size: cover;
    background-attachment: scroll;
    position: relative;
}


#about-header::before{
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #212529;
    opacity: 0.5;
    position: absolute;
    }

.about-content p{
    margin: 2rem 0;
    font-size: 1.30rem;
}


#post-detail-header{
    background-image: url(../images/post-bg.jpg);
    /* height: 50vh; */
    object-fit: cover;
    background-color: #6c757d;
    /* background: no-repeat center center; */
    padding-top: 12.5rem;
    padding-bottom: 12.5rem;
    margin-bottom: 3rem;
    background-size: cover;
    background-attachment: scroll;
    position: relative;
}

#post-detail-header::before{
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #212529;
    opacity: 0.5;
    position: absolute;
}


.caption{
    font-size: 0.875rem;
    font-style: italic;
    display: block;
    margin: 0;
    padding: 0.625rem;
    text-align: center;
    color: #6C7553;
}


.post-detail-link{
    color: #212529;
}

.post-detail-link:hover{
    color: #0085A1;
}


#contact-header{
    background-image: url(../images/contact-bg.jpg);
    /* height: 50vh; */
    object-fit: cover;
    background-color: #6c757d;
    /* background: no-repeat center center; */
    padding-top: 12.5rem;
    padding-bottom: 12.5rem;
    margin-bottom: 3rem;
    background-size: cover;
    background-attachment: scroll;
    position: relative;
}


#contact-header::before{
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #212529;
    opacity: 0.5;
    position: absolute;
}


.contact-form{
    position: relative;
}

.contact-form input{
    padding: 1.25rem 0;
    height: 4.5rem;
    line-height: 1.25rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    background-color: white;
    background-clip: padding-box;
    border-bottom: 1px solid #ced4da;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    appearance: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-family: inherit;
}


.contact-form input:focus{
    outline: none;
    /* border-color: #dc3545; */
    /* box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%); */
}

.contact-form label{
    color: #6c757d;
    position: absolute;
    font-size: 1.2rem;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1.25rem 0;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.contact-form input:focus~label{
    opacity: 0.65;
    transform: scale(0.65) translateY(-0.5rem) translateX(0rem);
}


/* textarea */

.contact-form textarea{
    padding: 1.25rem 0;
    height: 12rem;
    line-height: 1.25rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    background-color: white;
    background-clip: padding-box;
    border-bottom: 1px solid #ced4da;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    appearance: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-family: inherit;
}


.contact-form textarea:focus{
    outline: none;
    /* border-color: #dc3545; */
    /* box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%); */
}

.contact-form textarea:focus~label{
    opacity: 0.65;
    transform: scale(0.65) translateY(-0.5rem) translateX(0rem);
}